<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Jio bean -->
    <!--Fix: The bug is the wrong package location. Spring was looking for Jio in default package. -->
    <!-- But the class does not exist. Hence, the full package name is entered with class name.-->
    <bean id="sim" class="com.Swong.SpringIoCTutorial.Jio"/>

</beans>
